@model List<Respuesta>

<h2>Respuestas</h2>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Titulo de la pregunta</th>
                <th>Respuesta</th>
                <th>Fecha</th>
                <th>Nombre del Usuario que respondio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var respuesta in Model)
            {
                <tr>
                    <td>@respuesta.titulo</td>
                    <td>@respuesta.respuesta</td>
                    <td>@respuesta.Fecha.ToString("dd/MM/yyyy")</td>
                    <td>@respuesta.nombre</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    th, td {
        vertical-align: middle;
    }

    .table td {
        padding: 0.75rem;
    }
</style>